<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> CRUD </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/adminPage.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="../static/js/scripts.js"></script>


</head>

<body>
<!-- NAV меню сверху -->
<nav class="navbar bg-dark justify-content-between" style="margin-bottom: 20px">
    <p class="navbar-brand text-white">
        <b><span id="activeUserUsername"></span></b> with roles:
        <span id="activeUserRoles"></span>
    </p>
    <form th:action="@{/logout}" method="post">
        <button type="submit" class="btn btn-dark text-secondary">Logout</button>
    </form>
</nav>

<!-- Main Article -->
<div class="container-fluid text-center row content h-100 ">
    <!-- Left panel -->
    <div class="list-group col-sm-2 sidenav margin white" id="list-tab" role="tablist">
        <a class="list-group-item list-group-item-action active" id="list-admin" data-toggle="list" href="#adminPanel" role="tab">Admin</a>
        <a class="list-group-item list-group-item-action" id="list-user" data-toggle="list" href="#userPanel" role="tab">User</a>
    </div> <!-- Left panel Close -->

    <!-- Right panel -->
    <div class="col-sm-10 text-left gray tab-content" id="nav-tabContent">
        <!-- Админ панель -->
        <div class="tab-pane fade show active tab-content" id="adminPanel" role="tabpanel">
            <h1>Admin panel</h1>
            <div class="border white" >
                <!-- Вкладки: "Users Table" and "New User" -->
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#usersTable">Users Table</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#newUser">New User</a>
                    </li>
                </ul>
                <!-- Блоки с контентом -->
                <div class="tab-content">
                    <!-- First Tab "All Users" -->
                    <div class="tab-pane show active white fade" id="usersTable">
                        <div class="gray border">
                            <h3 style="text-align: left; margin: 1%"> All Users</h3>
                        </div>
                        <div style="margin-left:1%;" onload="getAllUsers()" >
                            <table class="table table-striped" id="allUsers">
                                <thead>
                                <tr>
                                    <td style='width: 5%'>ID</td>
                                    <td style='width: 20%'>First Name</td>
                                    <td style='width: 20%'>Last Name</td>
                                    <td style='width: 5%'>Age</td>
                                    <td style='width: 20%'>Email</td>
                                    <td style='width: 10%'>Roles</td>
                                    <td style='width: 7.5%'>Edit</td>
                                    <td style='width: 7.5%'>Delete</td>
                                </tr>
                                </thead>

                            </table>
                            <!-- Modal DeleteUser -->
                            <div class="modal hide" id="deleteModal">
                                <div class="modal-dialog modal-content">
                                    <form>
                                        <div class="modal-header">
                                            <h5 class="modal-title">Delete User</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closeButtonInModalHeader">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="mx-auto modal-body text-center" style="background: white; width: 40%;">
                                            <p class="userP">Id</p>
                                            <input type="number" class="form-control" id="deleteUserId" readonly/>

                                            <p class="userP">First Name</p>
                                            <input type="text" class="form-control" id="deleteUserFirstname" readonly/>

                                            <p class="userP">Last Name</p>
                                            <input type="text" class="form-control" id="deleteUserLastname" readonly />

                                            <p class="userP">Age</p>
                                            <input type="number" class="form-control" id="deleteUserAge" readonly/>

                                            <p class="userP">Email</p>
                                            <input type="text" class="form-control" id="deleteUserEmail" readonly/>

                                            <p class="userP">Role</p>
                                            <select multiple class="form-control" style="height:3em;" name="role_id" required readonly>
                                                <option > ADMIN </option>
                                                <option > USER </option>
                                            </select>
                                        </div>

                                        <div class="modal-footer">
                                            <input type="button" class="btn btn-secondary closeButton" value="Close" data-dismiss="modal" id="closeButtonInModal">
                                            <input type="submit" class="btn btn-primary" value="Delete user" id="deleteButtonInModal">
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <!-- Modal EditUser -->
                            <div class="modal hide" id="editModal">
                                <div class="modal-dialog modal-content">
                                    <form id="editUserForm">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Edit User</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closeButtonInEditModalHeader">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="mx-auto modal-body text-center" style="background: white; width: 40%;">
                                            <p class="userP">Id</p>
                                            <input type="number" class="form-control" id="editUserId" name="id" readonly/>

                                            <p class="userP">First Name</p>
                                            <input type="text" class="form-control" id="editUserFirstname" name="firstname"/>

                                            <p class="userP">Last Name</p>
                                            <input type="text" class="form-control" id="editUserLastname" name="lastname"/>

                                            <p class="userP">Age</p>
                                            <input type="number" class="form-control" id="editUserAge" name="age"/>

                                            <p class="userP">Email</p>
                                            <input type="text" class="form-control" id="editUserEmail" name="email"/>

                                            <p class="userP">Role</p>
                                            <select multiple class="form-control" style="height:3em;" name="role_id" required>
                                                <option value="Admin"> ADMIN </option>
                                                <option value="User"> USER </option>
                                            </select>
                                        </div>

                                        <div class="modal-footer">
                                            <input type="button" class="btn btn-secondary closeButton" value="Close" data-dismiss="modal" id="closeButtonInEditModal">
                                            <input type="submit" class="btn btn-primary" value="Edit" id="editButtonInModal">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Second Tab "Add new user" -->
                    <div class="tab-pane fade " id="newUser">
                        <div class="gray border">
                            <h3 style="text-align: left; margin: 1%">Add new User</h3>
                        </div>
                        <form class="mx-auto text-center" method="post" style="width: 20%; background: white; margin:1%" id="addUserForm">
                            <p class="userP">First Name</p>
                            <input type="text" class="form-control" name="firstname" placeholder="Firstname"/>

                            <p class="userP">Last Name</p>
                            <input type="text" class="form-control" name="lastname" placeholder="lastname" />

                            <p class="userP">Age</p>
                            <input type="number" class="form-control" name="age" placeholder="Age"/>

                            <p class="userP">Email</p>
                            <input type="text" class="form-control" name="email" placeholder="Email"/>

                            <p class="userP">Password</p>
                            <input type="password" class="form-control"  name="password" placeholder="Password"/>

                            <p class="userP">Role</p>
                            <select multiple class="form-control" style="height:3em;" name="role_id">
                                <option >Admin</option>
                                <option >User</option>
                            </select>

                            <input type="submit" class="btn btn-success d-block mx-auto" style="margin-top: 20px" value="Add new user" onclick="addNewUser()">
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- User panel -->
        <div class="tab-pane fade tab-content" id="userPanel" role="tabpanel">
            <h1 >User information-page</h1>
            <div class="white" >
                <div class="gray border">
                    <h3 style="text-align: left; margin: 1%"> About user</h3>
                </div>
                <div style="margin:1%">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col" style ='width: 10%'>ID</th>
                            <th scope="col" style ='width: 20%'>First Name</th>
                            <th scope="col" style ='width: 20%'>Last Name</th>
                            <th scope="col" style ='width: 20%'>Age</th>
                            <th scope="col" style ='width: 20%'>Email</th>
                            <th scope="col" style ='width: 20%'>Roles</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td th:text="${activeUser.getId()}"></td>
                            <td th:text="${activeUser.getFirstname()}"></td>
                            <td th:text="${activeUser.getLastname()}"></td>
                            <td th:text="${activeUser.getAge()}"></td>
                            <td th:text="${activeUser.getEmail()}"></td>
                            <td th:text="${activeUser.getRolesString()}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div> <!-- div + table close -->
            </div>
        </div> <!-- User Panel close -->
    </div> <!-- Right panel Close -->
</div> <!--Main Article Close -->
</body>
</html>